@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-stage-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --light-lavender: hsl(241, 100%, 89%);
}

body, html{
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Hanken Grotesk', sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    width: 737px;
    height: 514px;
    border-radius: 35px;
    box-shadow:2px 2px 5px hsl(241, 100%, 89%);

}

.result-card,.summary-card{
    width: 370px;
    height: 100%;
    border-radius: 35px;
}

.result-card{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-image: linear-gradient(var(--light-stage-blue),  var(--light-royal-blue));
}

.result-card .circle {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-image: linear-gradient(var(--light-stage-blue),  var(--light-royal-blue));
}

.circle h1{
    font-size: 65px;
}



.result-card p,.circle p{
    width: 100%;
    font-size: 15px;
    color: var(--light-lavender);

}


.result-card>p{
    width: 60%;
    font-size: 15px;
}

.summary-card{
    background-color: white;
    width: 50%;
    border-radius: 35px;
    padding: 2rem;

}

.summary-card h1{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;

}
.rows{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;
    border-radius: 10px;
}

.left{
    display: flex;
    align-items: center;
    gap: 10px;
}

#red{
   color: rgb(255, 97, 97);
}

#yellow{
    color: rgb(252, 194, 87);
}

#green{
    color: rgb(46, 223, 46);
}

#blue{
    color: rgb(13, 13, 185);
}


.red{
    background-color: rgb(255, 240, 240);
}

.yellow{
    background-color: rgb(255, 255, 223);
}

.green{
    background-color: rgb(231, 255, 241);;
}

.blue{
    background-color: rgb(234, 234, 253);
}
.right span{
    color: rgb(147, 158, 199);
}

button{
    width: 100%;
    border: none;
    background-color: hsl(220, 15%, 55%);
    border-radius: 32px;
    padding: 15px;
    font-size: 16px;
    color: rgba(230, 227, 227, 0.911);
}

@media screen and (max-width: 745px){
    main{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        height: 900px;
        border-radius: 40px;
        box-shadow:2px 2px 5px hsl(241, 100%, 89%);

    }

    .result-card,.summary-card{
        width: 100%;
        height: 100%;
        border-radius: 35px;
    }

    .result-card{
        border-radius: 0 0 35px 35px;
    }


}

